
body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 0.2);
  margin: 50px;
}


:fullscreen a {
    display: flex
}

$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}

.note-item {
  width: 320px;
  background: #fff;
}

.note-item{
  ul li {
    a{
      text-decoration: none;
      color:#000;
    }
    i {
      opacity: .65;
    }
    i:hover{
      opacity: 1;
    }
  }
}

.drag i {
  background: #f2f2f2;
  padding: 3.5px;
}

.note-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  border-style: 1px solid #fff;
}

.note-top {
  border-bottom: 3px solid #000;
}

.note-item {
  padding: 3px 8px;
  position:absolute;
  resize: both;
  overflow: auto;
  box-shadow: 8px 8px 3px #888888;
  textarea {
    resize: none;
  }
}

.inner-list{
  .title{
    font-size: 26px;
    font-weight: bold;
    word-break: break-all; 
  }
  list-style-type: none;
  li {
    display:inline;
  }
  padding: 0;
}

.content {
  margin-top: 5px;
  border-top: 3px solid #000;
}

.note-input{
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  rows: 4;
  columns: 80;
}

.note-text {
  border-top: 3px solid #000;
  padding: 3px;
}
